body{
    font-family: 'Baloo Tamma 2', cursive;
}
h1,h2{
    font-family: 'Merienda One', cursive;

}
.colu{
    border:1px solid black;
    
}
.bgc{
    background-color: #1592E6;
    color: white;
    
}
.background-i {
    background-image: url("../image/background.jpg");
    background-size:cover;
    color: white;
    height: 500px;
    padding-left: 50px;
    padding-top: 250px;    
    
  }

  

  .tab_backgroundcolor{
      background-color: #f7f7f7;
  }
  
  .card-img-top{
      max-height: 260px;
      width: auto;
  }
  .card-body{
      max-height: 800px;
  }

  .modal-body label{
      float: left;
  }
  .modal span {
    display: block;
    overflow: hidden;
    margin: 0 0 0 150px;
}

.list-unstyled li{
    padding: 5px;
}

.inline {
    display: inline-block;
  }

.changeUpLoadIcon {
    width: 128px;
    height: 128px;    
    background: url("../image/photoUpload1.png") no-repeat;
    
}
.changeUpLoadIcon:hover {
    background: url("../image/photoUpload2.png") no-repeat;
    
}
.justify-content-end a{
    color: white;
}